# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

#protoc generated.
/src/lib/server/grpc/proto

#kysely generated.
/src/lib/server/db_types.d.ts